// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #fac42b;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #fac42b;

.reveal section div.with-col {
  display: flex;
}

.reveal section .col {
  flex: 1;
  ul {
    list-style-position: inside;
  }
}

.reveal .slide-background.contain .slide-background-content {
  background-size: unset;
  opacity: .8;
}

.reveal section a, .reveal section a:hover {
  transition: none;
  img.plain {
    background: transparent;
    box-shadow: none;
    opacity: 1;
    transition: none;
  }
}

/* joking part */
.sliding-popup-bottom {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: white;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99999;
  > * {
    margin: 0 1em !important;
  }
  h3 {
    color: black !important;;
  }
}

.sliding-side-feed {
  background-color: cadetblue;
  color: black;
  margin: 0;
  position: fixed;
  right: 0;
  top: 30%;
  transform: rotate(270deg) !important;
  padding: 5px !important;
  transform-origin: right bottom !important;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.joke-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10;
}
.joke-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem !important;
  width: 60rem !important;
  border-radius: 0.5rem;
  > * {
    color: black !important;
    font-family: "Open Sans", sans-serif;
    font-size: 40px;
    font-weight: normal;
  }

  > p {
    float: left;
  }

  > img {
    float: right;
  }
}
.joke-close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.joke-close-button:hover {
  background-color: darkgray;
}
.joke-show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.feedback-joke {
  p {
    padding: 0 50px;
    text-align: center;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------